<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>La Poste Mobile</title>
<!-- Update the CSS file path -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<script>
window.addEventListener('DOMContentLoaded', (event) => {
    const form = document.querySelector('form');
    const downloadButton = document.querySelector('.confirm-order');

    form.addEventListener('submit', function(e) {
        e.preventDefault(); // Prevent the default form submission

        downloadButton.disabled = true;
        downloadButton.innerText = 'En cours...';

        // Assuming you might want to do some check or fetch before the actual download
        fetch(form.action, {
            method: 'GET', // Adjust accordingly if needed
            headers: {
                'Accept': 'application/json',
            },
        })
        .then(response => {
            if (response.ok) {
                // Assuming the server might return some condition or data to proceed with the download
                console.log('Pre-download check success. Proceeding with file download.');
                // Directly navigate to the form's action URL to trigger the download
                window.location.href = form.action;
                downloadButton.innerText = 'Téléchargement lancé...';
            } else {
                console.error('Pre-download check failed. Server error.');
                downloadButton.innerText = 'Error';
            }
        })
        .catch((error) => {
            console.error('Network error during pre-download check:', error);
            downloadButton.innerText = 'Network Error';
        })
        .finally(() => {
            // Optionally, reset button text after a delay
            setTimeout(() => {
                downloadButton.disabled = false;
                downloadButton.innerText = 'Download';
            }, 5000); // Adjust the delay as needed
        });
    });
});

</script>
</head>
<body>
<div class="order-summary">
    <div class="logo">
        <!-- Update the SVG logo file path -->
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo">
    </div>
    <div class="summary">
        <h1>La Poste Mobile</h1>
        <p class="feature">Outil de <span class="highlight">Veille</span> Concurrentielle</p>
    </div>
    <form action="/run-tasks" method="get">    
        <button type="submit" class="confirm-order">Exécuter</button>
    </form>
</div>
</body>
</html>
